<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>form</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <style>
    </style>
</head>
<body>
<form method="post">
    {% csrf_token %}
  <input type="text" name ="user name" placeholder = "Enter your name "><br>
  <label for="date" >DOB: </label><input type="date" name="dob" placeholder="DOB"><br>
  <input type="number" name="age" placeholder="Enter your age"><br>
  <input type="email" name ="email" placeholder = "Enter your email id "><br>
  <input type="text" name ="phone number" placeholder = "Enter your phone number "><br>
  <textarea id="address" name="address" placeholder="Enter your address"></textarea><br>

  <label for="district" >District: </label>
  <select id="district" name="district" required>
    <option value="ernakulam">Ernakulam</option>
    <option value="allapuzha">Allapuzha</option>
    <option value="kozhikode">Kozhikode</option>
    <option value="kannur">Kannur</option>
    <option value="idukki">Idukki</option>
    <option value="wayanad">Wayanad</option>
    <option value="thiruvananthapuram">Thiruvananthapuram</option>
  </select><br>

  <label for="branch">Branch: </label>
  <select id="branch" name="branch" required>
    <option value="angamaly">Angamaly</option>
  </select><br>

   <label for="Gender" >Select Gender: </label><br>
  <input type="radio" name ="gender" value="male">Male <br>
    <input type="radio" name ="gender" value="female">Female <br>
    <input type="radio" name="gender" value="other">Other<br>



  <label>Materials Provide:</label><br>
        <input type="checkbox" id="debitCard" name="materials" value="debitCard">
        <label for="debitCard">Debit Card</label><br>
        <input type="checkbox" id="creditCard" name="materials" value="creditCard">
        <label for="creditCard">Credit Card</label><br>
        <input type="checkbox" id="chequeBook" name="materials" value="chequeBook">
        <label for="chequeBook">Cheque Book</label><br>

      <label for="account type">Account Type: </label>
  <select id="account type" name="account type" required>
    <option value="savings">Savings</option>
    <option value="current">Current</option>
  </select><br>

  <input type="checkbox" name ="condition" value= "accept the terms and conditions">accept the terms and conditions<br>

    <input type="submit" value="submit"><br>
    <a href="{% url 'homepage' %}">Home</a>
    <a href="{% url 'logout' %}">
      <input type="button" value="logout"><br>
    </a>

</form>


</body>
</html>